<div class="topbar">
   <img src="../../../assets/images/logo.png" alt="">
   <ul>
    <li>
      <a class="home-link" href="">Home</a>
    </li>
    <li>
      <a href="" class="about-link">About</a>
    </li>
    <li>
      <a href="" class="about-link">Brand</a>
    </li>
    <li>
      <a href="" class="about-link">Specials</a>
    </li>
    <li>
      <a href="" class="about-link">Contact Us</a>
    </li>
    <li>
      <a href="" class="link-icon"><img class="icons" src="../../../assets/images/search-interface-symbol.png" alt=""></a>
    </li>
    <li><a href="" class="link-icon"><img class="icons" src="../../../assets/images/shopping-bag.png" alt=""></a></li>
   </ul>
</div>
